{% load static %}
<!DOCTYPE html>>
<html>
    <head>
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" integrity="sha384-JcKb8q3iqJ61gNV9KGb8thSsNjpSL0n8PARn9HuZOnIxN0hoP+VmmDGMN5t9UJ0Z" crossorigin="anonymous" />
        <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script>
        <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.1/dist/umd/popper.min.js" integrity="sha384-9/reFTGAW83EW2RDu2S0VKaIzap3H66lZH81PoYlFhbGU+6BZp6G7niu735Sk7lN" crossorigin="anonymous"></script>
        <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js" integrity="sha384-B4gt1jrGC7Jh4AgTPSdUtOBvfO8shuf57BaghqFfPlYxofvL8/KUEfYiJOMMV+rV" crossorigin="anonymous"></script>
    </head>


    <body class="bg-image">
      <link rel="stylesheet" href="{% static "train-search.css" %}"/>
        <div>
            <nav class="navbar navbar-expand-lg navbar-light bg-light">
                <a class="navbar-brand logo" href="/">R</a>
                <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
                  <span class="navbar-toggler-icon"></span>
                </button>
                <div class="collapse navbar-collapse" id="navbarNav">
                  <ul class="navbar-nav">
                    <li class="nav-item active">
                      <a class="nav-link text-dark" href="/">Home <span class="sr-only">(current)</span></a>
                    </li>
                    <li class="nav-item">
                      <a class="nav-link text-dark" href="#">Tickets Details</a>
                    </li>
                    <li class="nav-item">
                      <a class="nav-link text-dark" href="#">Help</a>
                    </li>
                    <li class="nav-item">
                      <a class="nav-link text-dark" href="/accounts/logout">Logout</a>
                    </li>
                  </ul>
                </div>
            </nav>
            <div class="container mt-5">
              <div class="row login-card">
                <div class="col-12">
                  <h1 class="main-heading">Train search</h1>

                  <div class="col-12 col-sm-12 col-md-12 col-lg-12 col-xl-12">
                    <!--
                    <form>
                      <p class="form-text">From</p>
                      <input type="text" class="boxes"/>
                    </form>
                    -->
                    <form method="POST">
                      <p class="form-text">From</p>
                      {{ form.From_location }}
                      <p class="form-text">To</p>
                      {{ form.To_location }}
                      <br/>
                      <button class="search">Search</button>
                      {% csrf_token %}
                    </form>
                  </div>
                  <div class="col-12 col-sm-12 col-md-12 col-lg-12 col-xl-12">
                    <!--<form>
                      <p class="form-text">To</p>
                      <input type="text" class="boxes"/>
                    </form>-->
                  </div>
                  <div class="d-flex flex-row">
                    <div class="col-5 col-sm-5 col-md-5 col-lg-5 col-xl-5">
                      <!--<form class="ml-5">
                        <p class="form-text">DD/MM/YYYY*</p>
                        <input type="date" id="birthday"/>
                      </form> -->
                    </div>
                  </div>
              </div>
            </div>
            </div>
        </div>
    </body>
</html>